body { margin:10px; background-image: url("../images/wall.jpg"); }

.container {
  width:800px;
  margin:0 auto;
}

.barra {
  background-color:#efb810;
  color: #131414;
  font-size: 20px;
  height: 25px; width: 700px;
}
#my_canvas{ 
  background-image: url("../images/background-pic.png"); 
  
}
.boton{
    color:#e4ecee;
    font-size: 40px;
    background-color: #efb810;
    cursor: pointer;
    border-radius: 25px;
    border:5px solid #8a9597;
    margin: 12px
    height: 25px; width: 230px;
    
    
}
.boton:hover{
    background-color: white;
    color: #000000;
}



